{% extends "til_base.html" %}

{% set tils = sql("""
    select * from tils where slug = :slug""", 
    {"slug": slug}, database="tils")
%}
{% set til = tils[0] %}
{% if not tils %}
    {% set raised = raise_404("TIL not found") %}
{% endif %}

{% block title %}{{ til.title }} | fuuuumin's TILs{% endblock %}

{% block extra_head %}
<link href="https://github.com/Fu-Om" rel="me">
{% endblock %}

{% block body %}

<h1>{{ til.title }}</h1>

<p>Created: {{ til.created_at }}</p>

{{ render_markdown(til.body,
                extensions=["fenced_code", "codehilite", "tables"],
                extra_tags=["span", "div", "table", "thead", "tr", "th", "td", "tbody"],
                extra_attrs={"span": ["class"], "div": ["class"], "p": ["id", "class"], "a": ["name", "href"]}) }}

{% endblock %}
<span class="arithmatex"></span>